/brunoM/
/UFdata_females_period2.txt
/UFdata_males_period1.txt
bodreferencegeneralizedgrowthbalancemethod.xlsx
.~lock.AM_GGB_South Africa_males_4_0.xlsx#
.~lock.AM_SEG_South Africa_males_3_1.xlsx#
AM_GGB_South Africa_males_4_0.xlsx
AM_SEG_South Africa_males_3_1.xlsx
SA-males-migration.csv
SA-males.csv
